/* css styles */

/* Estilo para as tabelas */
table {
    margin: auto;
    font-size: 0.9em; /* Ajuste o tamanho da fonte conforme necessário */
    border-collapse: collapse;
}
  
table caption {
    caption-side: top;
    font-weight: bold;
    font-size: 1em; /* Ajuste o tamanho da legenda conforme necessário */
}

/* Estilizar tabelas */
table.dataframe {
    background-color: white;  /* Cor de fundo das tabelas */
    color: #333;            /* Cor da fonte */
    border: 1px solid white; /* Bordas */
    text-align: center;      /* Alinhamento */
}